<div class="navbar-inner">
    <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <img src="img/slafka_logo.png" />
                </small>
            </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse"></div>
        <!-- /Sidebar Collapse -->
        <!-- Account Area and Settings --->
        <div class="navbar-header pull-right">
            <div class="navbar-account">
                <ul class="account-area">
                    <li>
                        <a class=" dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                            <i class="icon fa fa-warning"></i>
                        </a>
                        <!--Notification Dropdown-->
                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-phone bg-themeprimary white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">Skype meeting with Patty</span>
                                            <span class="description">01:00 pm</span>
                                        </div>
                                        <div class="notification-extra">
                                            <i class="fa fa-clock-o themeprimary"></i>
                                            <span class="description">office</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-check bg-darkorange white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">Uncharted break</span>
                                            <span class="description">03:30 pm - 05:15 pm</span>
                                        </div>
                                        <div class="notification-extra">
                                            <i class="fa fa-clock-o darkorange"></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-gift bg-warning white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">Kate birthday party</span>
                                            <span class="description">08:30 pm</span>
                                        </div>
                                        <div class="notification-extra">
                                            <i class="fa fa-calendar warning"></i>
                                            <i class="fa fa-clock-o warning"></i>
                                            <span class="description">at home</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-glass bg-success white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">Dinner with friends</span>
                                            <span class="description">10:30 pm</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer ">
                                <span>
                                    Today, March 28
                                </span>
                                <span class="pull-right">
                                    10°c
                                    <i class="wi wi-cloudy"></i>
                                </span>
                            </li>
                        </ul>
                        <!--/Notification Dropdown-->
                    </li>



                </ul><div class="setting">
                </div><div class="setting-container">
                    <label>
                        <input type="checkbox" id="checkbox_fixednavbar" ng-model="settings.fixed.navbar">
                        <span class="text">Fixed Navbar</span>
                    </label>
                    <label>
                        <input type="checkbox" id="checkbox_fixedsidebar" ng-model="settings.fixed.sidebar">
                        <span class="text">Fixed SideBar</span>
                    </label>
                    <label>
                        <input type="checkbox" id="checkbox_fixedbreadcrumbs" ng-model="settings.fixed.breadcrumbs">
                        <span class="text">Fixed BreadCrumbs</span>
                    </label>
                    <label>
                        <input type="checkbox" id="checkbox_fixedheader" ng-model="settings.fixed.header">
                        <span class="text">Fixed Header</span>
                    </label>
                </div>
                <!-- Settings -->
            </div>
        </div>
        <!-- /Account Area and Settings -->
    </div>
</div>
